/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Right {
            bindings = <&kp RIGHT>;
            key-positions = <41 22>;
            timeout-ms = <0>;
            layers = <0>;
            require-prior-idle-ms = <0>;
        };

        upper {
            bindings = <&kp UP>;
            key-positions = <41 10>;
            layers = <0>;
        };

        Left {
            bindings = <&kp LEFT>;
            key-positions = <41 21>;
            layers = <0>;
        };

        Down {
            bindings = <&kp DOWN>;
            key-positions = <41 34>;
            layers = <0>;
        };

        No1 {
            bindings = <&kp N1>;
            key-positions = <41 1>;
            layers = <0>;
        };

        No2 {
            bindings = <&kp NUMBER_2>;
            key-positions = <41 2>;
            layers = <0>;
        };

        No3 {
            bindings = <&kp N3>;
            key-positions = <3 41>;
        };

        No4 {
            bindings = <&kp N4>;
            key-positions = <41 4>;
        };

        No5 {
            bindings = <&kp N5>;
            key-positions = <5 41>;
        };

        No6 {
            bindings = <&kp N6>;
            key-positions = <41 6>;
            layers = <0>;
        };

        No7 {
            bindings = <&kp N7>;
            key-positions = <41 7>;
            layers = <0>;
        };

        No8 {
            bindings = <&kp N8>;
            key-positions = <8 41>;
            layers = <0>;
        };

        No9 {
            bindings = <&kp N9>;
            key-positions = <41 9>;
            layers = <0>;
        };

        No0 {
            bindings = <&kp N0>;
            key-positions = <10 41>;
            layers = <0>;
        };

        Plus {
            bindings = <&kp PLUS>;
            key-positions = <41 40 11>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <10 41 40>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <9 41 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_3 {
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E         &kp R     &kp T        &kp Y      &kp U              &kp I                                 &kp O             &kp P             &kp BACKSPACE
&kp LEFT_CONTROL  &kp A  &kp S  &kp D         &kp F     &kp G        &kp H      &kp J              &kp K                                 &kp L             &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp LEFT_SHIFT    &kp Z  &kp X  &kp C         &kp V     &kp B        &kp N      &kp M              &kp LESS_THAN                         &kp GREATER_THAN  &kp COMMA         &kp PERIOD
                                &kp LEFT_ALT  &kp LGUI  &kp SPACE    &kp ENTER  &kp RIGHT_COMMAND  &kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT
            >;
        };

        lower_layer {
            display-name = "Lower Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &kp N6    &kp N7    &kp N8    &kp N9     &kp N0  &kp BSPC
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &trans  &kp DEL
&kp LSHFT   &trans        &trans        &trans        &trans        &trans          &trans    &trans    &trans    &trans     &trans  &trans
                                        &kp LGUI      &trans        &kp SPACE       &kp RET   &trans    &kp RALT
            >;
        };

        default_layer {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &mo 1  &kp SPACE    &kp RET  &mo 4  &kp RALT
            >;
        };

        raise_layer {
            display-name = "Raise Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans     &kp RALT
            >;
        };
    };
};
